<section class="port_body">
  <h3 class="font-bold text-4xl text-[#2c3e50] text-center pt-36" >PORTOFOLIO COMPONENT</h3>
  <div class="flex justify-center items-center mb-3 mt-3">
    <div class="h-1 w-20 bg-[#2c3e50] mr-4"></div>
    <i class="fa-solid fa-star text-[#2c3e50]"></i>
    <div class="h-1 w-20 bg-[#2c3e50] ml-4"></div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-8 px-10  ">
    <div class="m-5 relative group  overflow-hidden">
        <img src="./assets/img/poert1.png" class="w-full  rounded-lg" alt=""/>
        <div (click)="open('./assets/img/poert1.png')" class="bg-[#1abc9ce2] rounded-lg w-full h-full absolute group-hover:-translate-y-full transition duration-300 delay-200 flex justify-center items-center">
          <i class="fa-solid fa-plus text-white text-8xl"></i>
        </div>
    </div>
    <div class="m-5 relative group  overflow-hidden" >
      <img src="./assets/img/cake.png" class="w-full rounded-lg" alt="" >
      <div (click)="open('./assets/img/cake.png')"  class="bg-[#1abc9ce2] rounded-lg w-full h-full absolute group-hover:-translate-y-full transition duration-300 delay-200 flex justify-center items-center">
        <i class="fa-solid fa-plus text-white text-8xl"></i>
      </div>
      </div>
    <div class="m-5 relative group  overflow-hidden">
      <img src="./assets/img/circus.png" class="w-full rounded-lg" alt=""  />
      <div (click)="open('./assets/img/circus.png')"  class="bg-[#1abc9ce2] rounded-lg w-full h-full absolute group-hover:-translate-y-full transition duration-300 delay-200 flex justify-center items-center">
        <i class="fa-solid fa-plus text-white text-8xl"></i>
      </div>
    </div>
    <div class="m-5 relative group  overflow-hidden">
      <img src="./assets/img/poert1.png" class="w-full rounded-lg" alt="" />
      <div (click)="open('./assets/img/poert1.png')"  class="bg-[#1abc9ce2] rounded-lg w-full h-full absolute group-hover:-translate-y-full transition duration-300 delay-200 flex justify-center items-center">
        <i class="fa-solid fa-plus text-white text-8xl"></i>
      </div>
    </div>
    <div class="m-5 relative group  overflow-hidden">
      <img src="./assets/img/cake.png" class="w-full rounded-lg" alt="" />
      <div (click)="open('./assets/img/cake.png')"  class="bg-[#1abc9ce2] rounded-lg w-full h-full absolute group-hover:-translate-y-full transition duration-300 delay-200 flex justify-center items-center">
        <i class="fa-solid fa-plus text-white text-8xl"></i>
      </div>
    </div>
    <div class="m-5 relative group  overflow-hidden">
      <img src="./assets/img/circus.png" class="w-full rounded-lg " alt="" />
      <div (click)="open('./assets/img/circus.png')"  class="bg-[#1abc9ce2] rounded-lg w-full h-full absolute group-hover:-translate-y-full transition duration-300 delay-200 flex justify-center items-center">
        <i class="fa-solid fa-plus text-white text-8xl"></i>
      </div>
    </div>
  </div>
  <!------------------------------------ by click  ---------------------------------->
  @if(isclicked == true){
      <div class="fixed w-full h-full top-0 start-0 bg-sky-400 bg-opacity-30 z-50 flex justify-center items-center ">
        <img (clikOutside)="clickedoutside()"  [src]="imgsrc"  alt="" class="w-2/4">
      </div>
  }

</section>
