<section class="body-content">
  <h3 class="font-bold text-4xl text-white text-center pt-60">ABOUT COMPONENT</h3>
  <div class="flex justify-center items-center mb-3 mt-3">
    <div class="h-1 w-20 bg-white mr-4"></div>
    <i class="fa-solid fa-star text-white"></i>
    <div class="h-1 w-20 bg-white ml-4"></div>
  </div>
  <div class="grid lg:grid-cols-2  justify-between text-white w-3/4 gap-5 m-auto pb-36 pt-1 ">
    <div>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
    <div>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
  </div>
</section>

