<section class="bg-[#1abc9ce2]">
<img src="./assets/img/avataaars.svg" class="w-60 m-auto pt-40 pb-10" />
  <h3 class="font-bold text-4xl text-white text-center pt-30" >START FRAMEWORK</h3>
  <div class="flex justify-center items-center mb-3 mt-3">
    <div class="h-1 w-20 bg-white mr-4"></div>
    <i class="fa-solid fa-star text-white"></i>
    <div class="h-1 w-20 bg-white ml-4"></div>
  </div>
  <p class="text-white text-center pb-10">Graphic Artist - Web Designer - Illustrator</p>
</section>


